<h2>Modify outfit</h2>

<% if @outfit.user = current_user %>

<form action="/outfits/<%= @outfit.id %>" method="post">
  <input type="hidden" name="_method" value="patch" id="hidden">
  <label>Add items to the outfit:</label><br>
  <% current_user.clothing_items.each do |clothing_item| %>
    <input type="checkbox" name="clothing_items[]" value="<%= clothing_item.id %>" <%= 'checked' if @outfit.clothing_items.exists?(id: clothing_item.id) %>><%= clothing_item.name %> - <%= clothing_item.clothing_category.name %></input>
  <% end %>
  <br></br>
  <label for="name">Outfit nickname</label><br>
  <input type="text" name="name" id="name" value="<%= @outfit.name %>"><br><br>
  <input type="submit" value="Edit Outfit">
</form>


<% end %>
