<h2><%= @outfit.name %></h2>

<a href="/outfits/<%= @outfit.id %>/edit">Edit outfit</a>

<% @outfit.clothing_items.each do |clothing_item| %>

<div class="clothing_item">
<h3><%= clothing_item.name %></h3>
<table>
  <td><%= clothing_item.color %>,</td>
  <td><%= clothing_item.fanciness %> fanciness,</td>
  <td><%= clothing_item.clothing_category.name if clothing_item.clothing_category %></td>
</table>
</div>
<% end %>
